@media (min-width: 1200px) {
	.container {
		width: 970px; /* override with the sam as for @media (min-width: 992px) */
	}
}

body {
	overflow-y: scroll;
	font-family: "kepler-std", Georgia, Times, serif;
}

.logo-header {
	text-align: center;
	margin-top: 1em;
}

h1 {
	color: #444444;
	font-family: "acta-display", Georgia, Times, serif;
	font-size: 2.813em;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.25em;
	margin: 0 auto .5em;
}

h1 {
	text-align: center;
}

.post-content p {
	font-size: 1.35em;
	line-height: 1.6em;
	font-weight: 300;
	text-align: justify;
}

.post-content p + p {
	text-indent: 2em;
}

.post-content .img-thumbnail {
	max-width: 80%;
}
