{% include header.html %}

	<div class="row post-content">
		<div class="col-sm-offset-1 col-sm-10">
			{{content}}
		</div>
		<div class="col-sm-1"></div>
	</div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-10 post-footer">
			Автор опубликовал эту статью {{ page.date | date: "%d.%m.%Y" }}
		</div>
		<div class="col-sm-1"></div>
	</div>


	<div class="row">
		<div class="col-sm-offset-1 col-sm-10 post-author">

		</div>
		<div class="col-sm-1"></div>
	</div>

{% include footer.html %}
